.App {
	text-align: center;
}
* {
	text-decoration: none;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
button {
	border: none;
	background: #566573;

	padding: 15px 22px;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	transition: 0.2s;
}
button:hover {
	background: #171f26;
}
